body {

	background-image: url(../images/Cinema.jpg);
	background-size: cover;
}

div#myCarousel {

	background: rgba(64, 64, 64, 0.9);
	height: 60%;
	width: 60%;
	text-align: center;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*p#enter {

	position: absolute; 
    bottom: 0; 
    right: 5px;
}*/

div#controller {

	background-color: #404040;
	height: 50%;
	width: 60%;
	text-align: center;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;	
}

img#poster {

	margin-left: 5px;
	margin-top: 10px;
	height: 95%;
	width: 35%;
}

p {
	color: black;
	text-align: center;
}

div#info {

	overflow: auto;
}

a#left {

	margin: 0;
	padding: 0;
	margin-left: 10%;
	margin-top: 10%;
	height: 60%;
	width: 10%;
}


a#right {

	margin: 0;
	padding: 0;
	margin-right: 10%;
	margin-top: 10%;
	height: 60%;
	width: 10%;
}

h1 {

	color: black;
}

.carousel-fade {
  
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 5;
  }
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%;
}

div#carousel {

	background: rgba(64, 64, 64, 0.9);
	height: 60%;
	width: 60%;
	text-align: center;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
